# Backend
backend/**/target/
backend/**/.mvn/
backend/**/.idea/
backend/**/.project
backend/**/.classpath
backend/**/.settings/

# Frontend
frontend/**/node_modules/
frontend/**/.next/
frontend/**/dist/
frontend/**/.vite/

# OS / Editor
.DS_Store
Thumbs.db
*.log

# Entornos locales
**/.env
**/.env.*
!.env.example

# Docker artefacts locales
**/.dockerignore
