# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
*.env
.env
**/.env
**/docker-data/
**/pgdata/

# Node (por si agregas frontend luego)
node_modules/
dist/
build/